:root {
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

    --color-1: rgb(3, 0, 34);
    --color-2: rgb(230, 110, 41);
    --color-3: rgb(255, 255, 255);

    --color-bg-disabled: rgb(105, 105, 105);
    --color-fg-disabled: rgb(196, 196, 196);

    --color-danger-1: rgb(192, 37, 37);
    --color-bg-danger-1: rgb(192, 37, 37);
    --color-fg-danger-1: rgb(255, 255, 255);

    --color-danger-2: rgb(190, 0, 0);
    --color-bg-danger-2: rgb(190, 0, 0);
    --color-fg-danger-2: rgb(255, 255, 255);

    --color-info-1: rgb(16 121 242);
    --color-bg-info-1: rgb(16 121 242);
    --color-fg-info-1: rgb(255, 255, 255);

    --color-bg-1: var( --color-1 );
    --color-fg-1: var( --color-2 );

    --color-bg-2: var( --color-1 );
    --color-fg-2: var( --color-3 );

    --color-bg-3: var( --color-2 );
    --color-fg-3: var( --color-1 );

    --color-bg-4: var( --color-2 );
    --color-fg-4: var( --color-3 );

    --color-bg-5: var( --color-3 );
    --color-fg-5: var( --color-1 );

}

body {
    font-family: "Roboto", sans-serif;
}